/***********************************MEDIA QUEREIS FOR lET'S BUSSNIUESS***********************************/


/*******************************
    THIS IS FOR MOBILE SCREEN
*******************************/


@media only screen and (min-width: 326px) {


    /***************NAVIGATION BAR******************/

    .navbar ul li a:hover {
        background: #FF5733;
        color: white;
    }

    /***************ABOUT SECTION******************/

    .learn-button {
        margin-left: 10px;
    }

    .img-respons1 {
        margin-top: -20px;
    }

    /***************FEATURES SECTION******************/

    .feature-heading {
        margin-bottom: 30px;
    }

    .featured-Heading-left {
        text-align: left;
    }

    .featured-text-left {
        text-align: left;
    }

    /***************Blog SECTION******************/

    .button-blog {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .button-blog a {
        border: 2px solid #FF5733;
        padding: 12px 18px;
        background: #FF5733;
        color: white;
        border-radius: 7px;
    }

    .button-blog a:hover {
        color: white;
        text-decoration: none;
    }

    /***************services SECTION******************/

    .services {
        margin-top: -150px;
    }

}

/************************************************************************************
                          THIS IS FOR DESKTOP SCREEN
************************************************************************************/


@media only screen and (min-width: 768px) {


    /***************NAVIGATION BAR******************/

    .navbar ul li a:hover {
        background: transparent !important;
        animation: swing 5s infinite;
        color: #FF5733;
    }

    /***************ABOUT SECTION******************/

    .texted {
        margin-left: 2.8em;
    }

    .texted1 {
        margin-left: 2.4em;
    }

    .texted2 {
        margin-left: 2.2em;
    }    

    .learn-button {
        margin-left: 100px;
    }

    .learn-button:hover {
        animation: rotateOut 1.5s ease-in-out;
    }

    .img-respons1 {
        margin-top: 10px;
    }

    /***************FEATURES SECTION******************/

    .feature-heading {
        margin-bottom: 60px;
    }

    .featured-Heading-left {
        text-align: right;
    }

    .featured-text-left {
        text-align: right;
    }

    .featured-Heading-right {
        text-align: left;
    }

    .featured-text-right {
        text-align: left;

    }

    /********************BLOG SECTIONS************************/

    .content-blog {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 450px;
        width: 250px;
        border-radius: 50px;
    }

    img.img-blog {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .content-blog:hover {
        animation: shake 2.5s ease-in-out;
    }

    .button-blog {
        margin-top: 30px;
    }

    .button-blog a {
        border: 2px solid #FF5733;
        padding: 12px 18px;
        background: #FF5733;
        color: white;
        border-radius: 7px;
    }

    .my-blog2 {
        background: #222;
        color: white;
    }

    .my-blog3 {
        background: #222;
        color: white;
    }

    .button-blog a:hover {
        color: white;
        text-decoration: none;
    }

    .my-blog1:hover {
        background-image: -webkit-linear-gradient(55deg, #9C327F 0%, #F7C706 100%);
        color: white;
    }

    .my-blog4:hover {
        background-image: -webkit-linear-gradient(55deg, #FF0F00 0%, #0000FF 100%);
        color: white;
    }

    /***************SERCIVES SECTION******************/

    .services {
        margin-top: 10px;
    }

    .servicebox:hover {
        animation: jello 2.5s ease-in-out;
    }


}
